<!--footer-->
<footer class="page-footer text-center font-small mt-4 wow fadein">
    <!--call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank"
           role="button">
            download mdb
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">
            start
            free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <!--/.call to action-->

    <hr class="my-4">

    <!-- social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/mdbootstrap" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=7muisdj5zz4" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="https://dribbble.com/mdbootstrap" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="https://pinterest.com/mdbootstrap" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="http://codepen.io/mdbootstrap/" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- social icons -->
    <!--copyright-->
    <div class="footer-copyright py-3">
        © 2019 copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> mdbootstrap.com </a>
    </div>
    <!--/.copyright-->
</footer>
<!--/.footer-->
<!-- scripts -->
<!-- jquery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- bootstrap core javascript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- mdb core javascript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- initializations -->
<script type="text/javascript">
    // animations initialization
    new wow().init();
</script>