@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link">
          <i class="fa fa-user"> </i> @User.Identity.GetUserName()
        </li>
        <li>
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item nav-link">Cerrar Sesión</a></li>
    </ul>
    }
}
else
{



    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item nav-link">
             @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>

            @if (Request.IsAuthenticated)
                {
                    <li class="nav-item nav-link">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                }
            else
                {
                <li class="nav-item nav-link">Registrarse</li>
                }
            </ul>
}
