@model TiendaVirtualMVC.Models.Pedido

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @TiendaVirtualMVC.Controllers.PedidoController.NombreCliente(Model.ClienteID)
            
        </dd>

        <dt>
            Fecha del Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.PedidoID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
