@model IEnumerable<TiendaVirtualMVC.Models.Pedido>

<select class="form-control" id="PedidoID" name="PedidoID">

    @foreach (var item in Model)
    {


        @*<option value="@item.PedidoID">@TiendaVirtualMVC.Controllers.PedidoController.NombreCliente(item.ClienteID)</option>*@
        <option value="@item.PedidoID">@item.PedidoID</option>

    }
</select>

