@{
    ViewBag.Title = "TIENDA VIRTUAL MVC5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <title>Tienda Virtual MVC 5</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <style>



    </style>
</head>
<body>
<div class="lightbox">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="https://www.alphatrad.pt/sites/alphatrad.pt/files/images/articles/coronavirus%20uma%20oportunidade%20para%20o%20comercio%20electronico%20e%20fisico.jpg ""
        data-mdb-img="https://www.alphatrad.pt/sites/alphatrad.pt/files/images/articles/coronavirus%20uma%20oportunidade%20para%20o%20comercio%20electronico%20e%20fisico.jpg "
        alt="Banner 1"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src="https://www.hubspot.com/hubfs/ecommerce%20busines.jpg"
        data-mdb-img="https://www.hubspot.com/hubfs/ecommerce%20busines.jpg"
        alt="Banner 2"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
    <div class="col-lg-6">
      <img
        src="https://www.zilliondesigns.com/blog/wp-content/uploads/Perfect-Ecommerce-Sales-Banner.jpg"
        data-mdb-img="https://www.zilliondesigns.com/blog/wp-content/uploads/Perfect-Ecommerce-Sales-Banner.jpg"
        alt="Banner 3"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
  </div>
</div>
</body>