@{
    ViewBag.Title = "TIENDA VIRTUAL MVC5";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale=1.0"/>
    <title>Tienda Virtual MVC 5</title>


    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_Products")
    @Html.Partial("_Pagination")
    <h2>Tienda Virtual con ASP.NET MVC5 , C# Y SQL SERVER</h2>
    <p>Mediante este curso, vamos a prender como crear una tienda virtual</p>
    <p>desde cero, usando ASP.NET MVC 5, lenguaje de programación C# y Base</p>
    <p>de Datos SQL SERVER desde Cero</p>
    <br />
    <p>La tienda ofrecera entrenamientos sobre las siguientes tecnologias:</p>
    <ul class="list-group">
        <li>Microsoft (C# y Visual Basic.NET) </li>
        <li>Java (Escritorio y Web)</li>
        <li>Delphi(Escritorio y Movil)</li>
        <li>PHP &amp; MySQL</li>
        <li>Tecnologias y Frameworks Front-End</li>

    </ul>
</body>