@{
    ViewBag.Title = "TIENDA VIRTUAL MVC5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale=1.0" />
    <title>Tienda Virtual MVC 5</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <img src="https://www.alphatrad.pt/sites/alphatrad.pt/files/images/articles/coronavirus%20uma%20oportunidade%20para%20o%20comercio%20electronico%20e%20fisico.jpg " alt="Tienda Virtual" height="600" width="1200">
</body>